body {
    background: rgb(33, 116, 141);
    font: 15pt Arial


}

header {
    color: white;
    text-align: center;


}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.486);


}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    font: italic 8pt Arial;





}